:root {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* background-color: bisque; */
    font-family: Inconsolata, 'Courier New', Courier, monospace;
    background-image: url("images/background-bright.svg");
    background-size: cover;
    color: rgb(233, 182, 120);

    /* text-shadow: 1px 1px 1px rgba(255, 255, 0, 0.565); */
}

@font-face {
    font-family: Inconsolata;
    src: url("fonts/Inconsolata.ttf");
}

@font-face {
    font-family: Cyberpunk;
    src: url("fonts/Cyberpunk.ttf");
}

.wrapper {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: 1fr 5fr;
    font-family: Cyberpunk;
    height: 100vh;
    gap: 6px;
}

.wrapper>* {
    border: 1px solid red;
}

.searchbar {
    grid-column: 2/4;
}

.navbar {
    grid-row: 1/3;
}

.dashboard {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(3, 3fr);
    display: grid;
    gap: 6px;
}
.dashboard>* {
    border-bottom: 1px solid yellow;
    background-color: rgba(38, 9, 255, 0.442);
    transition: 0.3s;
}

.dashboard>*:hover {
    background-color: rgba(255, 9, 13, 0.442);
    border-bottom: 2px solid red;
}