:root {
    margin: 0;
    padding: 0;
    background-color: bisque;
    font-family: Inconsolata, 'Courier New', Courier, monospace;
}

@font-face {
    font-family: Inconsolata;
    src: url("fonts/Inconsolata.ttf");
}

@font-face {
    font-family: Cyberpunk;
    src: url("fonts/Cyberpunk.ttf");
}

.wrapper {
    font-family: Cyberpunk;
}